.site-layout-background {
  background-color: white !important;
}
.site-layout-background-store-front {
  background-color: #1890ff !important;
}
.site-layout-background-store-front * {
  color: white !important;
}
.logo {
  height: 32px;
  background-color: rgba(225, 225, 225, 0.2);
  margin: 16px;
}
.sider {
  -moz-box-shadow: -3px 0 5px 0 #555;
  -webkit-box-shadow: -3px 0 5px 0 #555;
  box-shadow: -3px 0 5px 0 #555;
}
.dyn-height {
  width: 100%;
  line-height: 100%;
  height: 100%;

  padding: 24px;
  overflow-y: auto;
  overflow-x: auto;
  vertical-align: middle;
}
.center-svg svg {
  height: 100%;
  width: 1.5em;
}
.ant-tabs-content {
  padding: 16px;
  background-color: white;
  min-height: 200px;
}
.ant-tabs-bar {
  margin-bottom: 0px !important;
}
.top-border-thick {
  border-top: #555 2px solid;
}
.top-border-thin {
  border-top: #555 1px solid;
}
.bottom-border-thin {
  border-bottom: #555 1px solid;
}
.bottom-border-thick {
  border-bottom: #555 2px solid;
}
/* make antd table scrollable */
.custom-table .ant-table-content {
  width: 120%;
}
.custom-table .ant-table-container {
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
}
/* make antd table scrollable end */
.pointer-table tr {
  cursor: pointer;
}
.login {
  -moz-box-shadow: 2px 2px 3px 0 #555;
  -webkit-box-shadow: 2px 2px 3px 0 #555;
  box-shadow: 2px 2px 3px 0 #555;
}
.ant-btn-succcess {
  color: #fff !important;
  background-color: #52c41a !important;
  border-color: #52c41a !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12) !important;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045) !important;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045) !important;
}
.ant-btn-succcess[disabled] {
  cursor: not-allowed;
}
.CartDescriptions .ant-descriptions-item-content {
  text-align: right;
}
.site-collapse-custom-collapse {
  background-color: transparent !important;
  border-bottom: transparent !important;
}
.borderless-radio label {
  border: 0px solid transparent !important;
  background-color: white !important;
}
.borderless-radio label:not(:first-child)::before {
  background-color: transparent !important;
}
.category-radio label {
  margin-right: 5px;
}
.disabled_quantity_component input,
.disabled_quantity_component button {
  cursor: not-allowed;
}
.quantity-input {
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 3px;
}
.quantity-input:focus {
  background: red;
}
.quantity-input__modifier,
.quantity-input__screen {
  user-select: none;
  outline: none;
}

.quantity-input__modifier {
  width: 3rem;

  background: #f3f3f3;
  color: #888;
  border: 0 solid #dbdbdb;
  text-align: center;
  text-shadow: 0 1px 0 rgba(#fff, 0.6);

  cursor: pointer;
}
.quantity-input__modifier:hover {
  background: darken(#f3f3f3, 10%);
  color: darken(#888, 20%);
}

.quantity-input__modifier--left {
  background-color: #8ec661;
  border-radius: 3px 0 0 3px;
  color: white;
}
.quantity-input__modifier--right {
  background-color: #8ec661;
  color: white;
  border-radius: 0 3px 3px 0;
}
.quantity-input__screen {
  width: 100%;
  color: white;
  background-color: #76aa4c;
  border: 0;
  border-top: 0 solid #dbdbdb;
  border-bottom: 0 solid #dbdbdb;
  text-align: center;
}
.catalogue_close_button .ant-modal-close {
  display: none;
}
.loading_page {
  position: absolute;
  height: 100vh;
  left: 50%;
  top: 50%;
}
.LeftRightDescrptionContainer .ant-descriptions-item-content {
  text-align: left !important;
}
.OpositeAlignment .ant-descriptions-item-content {
  text-align: right !important;
}

.invalid_input {
  border: 1px solid #e23737 !important;
}
.valid_input {
  border: 1px solid unset !important;
}
.table-card-type {
  width: 100%;
  margin-top: 10px;
}
.table-card-type td,
.table-card-type th {
  padding: 5px;
}
.table-card-type thead {
  background-color: steelblue;
  color: white;
}
.table-card-type tbody {
  background-color: #f0f0f0;
}
